In [1]:
#Import the important libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

C:\ProgramData\Anaconda3\envs\myMLenv\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\ProgramData\Anaconda3\envs\myMLenv\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\ProgramData\Anaconda3\envs\myMLenv\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\ProgramData\Anaconda3\envs\myMLenv\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
C:\ProgramData\Anaconda3\envs\myMLenv\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [3]:
#loading the dataset
food_balance = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")
food_balance.head() #Let's have a peek

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [8]:
food_balance.shape

(60943, 12)

In [27]:
#Group by "item" 
food_balance.groupby("Item").sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
"Alcohol, Non-Food",38447,752497,1515090,2403.00,2180.00,2223.00,2348.00,2293.00
Alcoholic Beverages,75016,1649136,2171381,102410.11,98783.72,96958.75,95581.06,97847.27
Animal Products,18060,397035,90990,11935.65,11811.73,11661.69,11547.65,11578.61
Animal fats,85279,1882494,2567303,209460.54,200675.72,183314.22,269617.53,269648.27
Apples and products,69280,1352989,1920418,9499.23,10559.15,9853.26,10198.90,9640.51
...,...,...,...,...,...,...,...,...
"Vegetables, Other",77779,1518715,2275409,155038.96,158104.08,156218.90,157752.59,163987.21
Vegetal Products,18060,391905,90990,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,87073,1639683,2654934,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,66206,1319535,1818328,4497.36,4251.81,3872.09,4178.02,4039.32
Yams,50798,970905,1525745,200396.96,203151.78,220626.20,229174.59,221272.09

In [25]:
animal_fat_2014 = food_balance.groupby("Item").sum().loc["Animal fats","Y2014"]
animal_fat_2014

209460.54

In [26]:
animal_fat_2017 = food_balance.groupby("Item").sum().loc["Animal fats","Y2017"]
animal_fat_2017

269617.53

In [29]:
#std for year 2015
food_balance["Y2015"].std()

1603.4039839423301

In [30]:
#mean for year 2015
food_balance["Y2015"].mean()

135.23596649549236

In [33]:
#Number of missing value in 2016
food_balance.isnull().sum()["Y2016"]

1535

In [32]:
#Percentage of missing value in 2016
(food_balance.isnull().sum()["Y2016"]/ food_balance.shape[0]) * 100

2.5187470259094566

In [80]:
#Highest correlation with Element Code

food_balance.corr()["Element Code"].sort_values()

Item Code      -0.024683
Area Code      -0.000209
Y2016           0.023444
Y2015           0.023889
Y2017           0.024254
Y2018           0.024279
Y2014           0.024457
Element Code    1.000000
Name: Element Code, dtype: float64

In [79]:
#Highest sum of import Quality
food_balance.groupby("Element").sum().loc["Import Quantity"].sort_values()

Y2015             267018.46
Y2014             274144.48
Y2016             286582.78
Y2018             287997.09
Y2017             294559.09
Area Code         688174.00
Item Code       13795966.00
Element Code    28834929.00
Name: Import Quantity, dtype: float64

In [78]:
#total number of the sum of Production in 2014
food_balance.groupby("Element").sum().loc["Production", "Y2014"]

1931287.75

In [77]:
#elements with the highest sum in 2018 had the 3rd lowest sum in 2018
food_balance.groupby("Element").sum().loc[ : ,"Y2018"].sort_values(axis=0)

Element
Tourist consumption                            90.00
Fat supply quantity (g/capita/day)          10258.69
Protein supply quantity (g/capita/day)      11833.56
Stock Variation                             20577.91
Seed                                        25263.14
Residuals                                   34864.00
Food supply quantity (kg/capita/yr)         49056.85
Other uses (non-food)                       91300.97
Losses                                     163902.00
Export Quantity                            181594.80
Feed                                       233489.68
Import Quantity                            287997.09
Processing                                 308429.00
Food supply (kcal/capita/day)              455261.00
Total Population - Both sexes             1140605.00
Food                                      1303841.28
Production                                2075072.89
Domestic supply quantity                  2161192.10
Name: Y2018, dtype: float64

In [69]:
#total Import Quantity in Algeria in 2018

food_balance.groupby(["Element", "Area"]).sum().loc["Import Quantity", "Y2018"]["Algeria"]

36238.29

In [71]:
#total number of unique countries in the dataset
len(food_balance.groupby("Area"))

49

In [75]:
food_balance.groupby("Area").count().shape[0]

49